.title {
  color: var(--primary-text);
}

.subtitle {
  color: var(--primary-text);
}

#ascii-video {
  width: 800px;
  height: 800px;
  overflow-x: hidden;
  font-family: "Courier";
  font-size: 10pt;
  line-height: 10pt;
  color: var(--primary-text);
}
#ascii-hidden {
  display: none;
}
