@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";
@import 'themes.scss';


$primary: var(--primary);
$primary-darker: var(--primary-darker);
$primary-text: var(--primary-text);

@import 'slider.scss';
@import 'heartbeat.scss';
@import 'asci.scss';
@import 'works-drag.scss';


body {
    overflow: hidden;
}

#container {
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    height: 100%;
    width: 100vw;
    max-width: 20000px;
    max-height: 20000px;
    background: $primary;
    margin: 0;
    padding-bottom: 20px;
}

.description-container {
    margin-top: 80px;
}

.card {
    background-color: $primary-darker;
    color: $primary-text;
    .title {
        color: $primary-text;
    }
}


.menu {
    color:  $primary-text;
    background-color: $primary;
    .navbar-item {
        color: $primary-text;
        &:hover {
            color: $primary-text;
            background-color: $primary-darker;
        }
        &:focus {
            color: $primary-text;
            background-color: $primary-darker;
        }
    }
}

.navbar-menu.is-active {
    position: absolute;
    width: calc(100vw - 3rem);
    background-color: $primary;
}
